@font-face {
  font-family: OpenSans-Semibold;
  src: url("../../assets/css/fonts/OpenSans-Semibold.ttf");
}
@font-face {
  font-family: OpenSans-Light;
  src: url("../../assets/css/fonts/OpenSans-Light.ttf");
}
@font-face {
  font-family: OpenSans-Regular;
  src: url("../../assets/css/fonts/OpenSans-Regular.ttf");
}
@font-face {
  font-family: PublicSans-SemiBold;
  src: url("../../assets/css/fonts/PublicSans-SemiBold.otf");
}
.c-maxContainter {
  max-width: 425px;
  background: #000;
  margin: 0 auto;
}

.register_div {
  width: 80%;
  margin: 0 auto 4rem;
  text-align: center;
  color: white;
}
.register_div hr {
  background: white;
}
.register_div h1 {
  font-family: "OpenSans-Semibold";
  font-size: 38px;
}
.register_div h3 {
  font-family: "OpenSans-Light";
  font-size: 18px;
}

.gift_div {
  width: 60%;
  margin: 0 auto 4rem;
}
.gift_div img {
  width: 100%;
}

.register_divbtn .register_btn {
  border: 1px solid #0069e8;
  color: #0069e8;
  border-radius: 36px;
  font-size: 14px;
  font-family: "OpenSans-Semibold";
  padding: 15px 40px;
  margin-bottom: 1rem;
  background: #fff;
}
.register_divbtn p {
  margin-top: 2rem;
  font-size: 11px;
  font-family: "OpenSans-Regular";
}

.loginHeader_div {
  width: 80%;
  margin: 0 auto 4rem;
  text-align: center;
  color: white;
}
.loginHeader_div hr {
  background: white;
}
.loginHeader_div h1 {
  font-family: "OpenSans-Semibold";
  font-size: 38px;
}
.loginHeader_div h3 {
  font-family: "OpenSans-Light";
  font-size: 18px;
}

.loginForm_div {
  width: 80%;
  margin: 0 auto 4rem;
}
.loginForm_div .input-group-text {
  border-radius: 8px;
  padding: 0.375rem 1rem;
}
.loginForm_div .input-group-text i {
  color: #33126b;
  font-weight: bold;
}
.loginForm_div .form-control {
  border-radius: 8px;
}
.loginForm_div .formLabel {
  margin-bottom: 0;
  color: #fff;
  font-family: "PublicSans-SemiBold";
  font-size: 12px;
}
.loginForm_div .theForgot {
  text-align: end;
}
.loginForm_div .theForgot p {
  color: #fff;
  font-size: 11px;
  font-family: "OpenSans-Regular";
  text-decoration: underline;
}

.login_divbtn {
  justify-content: center;
  text-align: center;
}
.login_divbtn .login_btn {
  border: 1px solid #0069e8;
  color: #0069e8;
  border-radius: 36px;
  font-size: 14px;
  font-family: "OpenSans-Semibold";
  padding: 15px 70px;
  background: #fff;
}
.login_divbtn p {
  margin-top: 1.5rem;
  font-size: 11px;
  font-family: "OpenSans-Regular";
  color: #fff !important;
}
.login_divbtn .login_text {
  color: white;
  text-decoration: underline;
}

.register_title {
  width: 80%;
  margin: 0 auto 1rem;
  text-align: center;
  color: white;
}
.register_title h1 {
  font-family: "OpenSans-Semibold";
  font-size: 27px;
  margin-bottom: 2rem;
}
.register_title h3 {
  font-family: "OpenSans-Semibold";
  font-size: 20px;
}
.register_title p {
  font-family: "OpenSans-Regular";
  font-size: 11px;
}

.registerForm_div {
  width: 80%;
  margin: 0 auto 4rem;
}
.registerForm_div .input-group-text {
  border-radius: 8px;
  padding: 0.375rem 1rem;
}
.registerForm_div .input-group-text i {
  color: #33126b;
  font-weight: bold;
}
.registerForm_div .form-control {
  border-radius: 8px;
}
.registerForm_div .formLabel {
  margin-bottom: 0;
  color: #fff;
  font-family: "PublicSans-SemiBold";
  font-size: 12px;
}
.registerForm_div .theForgot {
  text-align: end;
}
.registerForm_div .theForgot p {
  color: #fff;
  font-size: 11px;
  font-family: "OpenSans-Regular";
  text-decoration: underline;
}
.registerForm_div .register_personal {
  width: 80%;
  margin: 1.5rem auto;
  text-align: center;
  color: white;
}
.registerForm_div .register_personal h3 {
  font-family: "OpenSans-Semibold";
  font-size: 20px;
  margin-bottom: 0rem;
}
.registerForm_div .register_personal p {
  font-family: "OpenSans-Regular";
  font-size: 11px;
}

.theBtn_register {
  border-radius: 36px;
  padding: 10px 35px;
  background: #5f05c7;
  font-family: "OpenSans-Semibold";
  font-size: 14px;
}

/*# sourceMappingURL=new.css.map */
